# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

.idea/
target/

*.log
application/sp/spServer
cmd/relayd/relayd
example/network/account
example/network/[a-zA-Z0-9]
example/network/tmp
example/network/*/
example/network/*/storage
example/network/*/download
!example/network/*/accounts
!example/network/*/configs
tmp
bp-list
pp-list
sp/
