.center-player {
    display: flex;
    justify-content: center;
}

.link-table {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    table {
        border-collapse: collapse;
        width: 50%;
        text-align: left;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }

    input {
        margin: 0 5px;
    }
}
