body, .form-control {
    font-size: 12px;
}
header { padding: 20px; font-size: 16px; border: 1px solid #eee; margin-bottom: 15px; }
header a:link,
header a:hover,
header a:visited,
header a:focus { color: #212529 !important; text-decoration: none; }
header a#logout:link,
header a#logout:visited,
header a#logout:active,
header a#logout:focus { color: #999 !important; font-size: 12px; }
table.table thead th { border-bottom: 2px solid #007bff; }
table.table tbody td { vertical-align: middle; word-break: break-all; }
table.table thead tr th:first-child,
table.table thead tr th:last-child,
table.table tbody tr td:first-child,
table.table tbody tr td:last-child { text-align: center;}

ul { margin: 0; padding: 0; padding-left: 15px; }
