#port that the service is listening to
PORT

#wallet address of the user that is logging in,
WALLET_ADDRESS

#mnemonic of the user that is logging in,
WALLET_MNEMONIC=

#your login logic to check and verify the password or pin
WALLET_PASSWORD=
