Version: 1

Host: 0.0.0.0
Port: 8081

Cache:
  Engine: redis
  Host: localhost
  Port: 6379
  Pass: pass
  DB: 0
  LifeTime: 60

Database:
  Driver: mysql
  Host: localhost
  Port: 3306
  User: user
  Pass: pass
  DbName: dbname
  Debug: false
  LogFile: tmp/logs/database.log

LogFile: tmp/logs/sp_api.log

Debug: false
